.nuevoPersona-bucar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.container {
  padding: 20px;
}

.mat-table {
  width: 100%;
  margin-top: 20px;
}

.mat-cell {
  padding: 8px;
}
mat-row:hover {
  background-color: #e0f7fa; /* Cambia este color a uno de tu preferencia */
}
